<h1>Assign Categories to <%= project.name %></h1>
<form method="POST">
    <% allCategories.forEach(cat => { %>
        <label>
            <input type="checkbox" name="categoryIds" value="<%= cat.id %>"
                <%= assignedIds.includes(cat.id) ? 'checked' : '' %>>
            <%= cat.name %>
        </label><br>
    <% }); %>
    <button type="submit">Save</button>
</form>